@model AliaaProject.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitoringCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitoringCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastMonitoringPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastMonitoringPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsObserving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsObserving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.College)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.College.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Governorate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Governorate.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobGroup.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationLevel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualitativeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualitativeGroup.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.University.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NationalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
